.membersListWrapper {
  display: flex;
  flex-direction: column;
}

.membersList {
  display: flex;

}

.infoButton {
  display: flex;
}

.infoWrapper {
  display: flex;
  align-items: center;
  justify-content: center !important;
}

.listItemTextOnline {
  p {
    color: green;
  }
}

.listItemTextOffline {
  p {
    color: #aaaaaa;
  }
}

.avatar {
  background-color: #6a6868 !important;
  color: #dddddd !important;
}

.chatSettings {
  display: flex;
  justify-content: space-between;
  min-width: 360px;
}

.closeIcon {
  padding: 20px 24px;
  margin: 0;
  cursor: pointer;
}

.inputWrapper {
  display: flex;
  justify-content: space-between;
}

.addButton {
  padding: 0 26px !important;
  margin-left: 10px !important;
}
