.wrapper {
    display: flex;
    box-sizing: border-box;
    max-width: 900px;
    height: 100%;
    flex-direction: column;
    flex-grow: 1;
}

.messageWrapper {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    align-items: flex-start;
    flex-grow: 1;
    .message {
        margin: 7px 0;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background: #444;
        border-radius: 10px;
        .messageBlock {
            div:first-child {
                font-weight: 600;
                font-style: 22px;
            }
            div:last-child {
                margin: 3px 10px 0px 2px;
            }
        }
        .buttonBlock {
            display: flex;
            margin-left: 20px;
            justify-content: space-between;
            flex-direction: column;
            svg {
                font-size: 18px;
                transition: all 0.3s;
                &:first-child {
                    color: grey;
                    opacity: 0.4;
                }
                &:last-child {
                    cursor: pointer;
                    color: grey;
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
    .myMessage {
        align-self: flex-end;
        background: #404;
    }
}

.myMessageWrapper {
    align-self: flex-end;
}

.messageContainer {
    margin: 7px 0;
}

.topBlock {
    padding: 15px 40px;
    border: 1px solid #222;
    display: flex;
    align-items: center;
    .title {
        font-size: 24px;
    }
    .activeCachedIcon {
        animation: rotateIcon 0.7s 3;
    }
    .cachedIcon {
        transition: all 0.3s;
        margin-right: 20px;
        color:gray;
        cursor: pointer;
        &:hover {
            opacity: 0.8;
        }
    }
    .noActiveChat {
        transition: all 0.3s;
        margin-right: 20px;
        color: #333;
        cursor: default;
        &:hover {
            opacity: 0.8;
        }
    }

}

.noMessage {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    font-size: 25px;
}

.form {
    color: #fff;
    display: flex;
    padding: 20px;
    div {
        flex-grow: 1;
        label, input {
            margin-left: 5px;
            color: #ffffff;
        }
    }
    button {
        border-radius: 20%;
        margin-left: 10px;
    }
}

@keyframes rotateIcon {
    0% {
        transform: rotate(360deg);
        animation-timing-function: linear;
    }
    100% {
        transform: rotate(0deg);
    }
}
