.wrapper
    display: flex
    flex-direction: column
    width: 250px
.topBlock
    height: 60px
    display: flex
    justify-content: center
    align-items: center
    border: 1px solid #222222
.mainBlock
    border: 1px solid #222222
    height: 100%
    padding: 10px