.wrapper {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.topBlockWrapper {
    display: flex;
    align-items: center;
    border: 1px solid #222222;
    .logoutWrapper {
        margin-left: 10px;
        transition: all 0.3s;
        cursor: pointer;
        color: #DCB4FF;
        &:hover {
            color: #A588BF;
        }
    }
    .topBlock {
        flex-grow: 1;
        height: 60px;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.mainBlock {
    border: 1px solid #222222;
    height: 100%;
}

.root {
    width: '100%';
    max-width: 360px;
}

.chatItem {
    background-color: #444;
    transition: all 0.3s;
    border: 1px solid #222222;
    cursor: pointer;
    &:hover {
         background-color: #333;
    }
    .avatar {
        color: #222;
    }
    .chatItemText {
        span {
            font-size: 18px;
        }
        p {
            color: #ddd;
        }
    }
}

.inline {
    display: 'inline';
}
